{
    "path_files_xml": "/home/eldervivot/Programming/microservices/read-xml-nfe-nfce-cte/data",
    "path_library_read_nf": "/home/eldervivot/Programming/microservices/read-xml-nfe-nfce-cte/read-nfe-nfce-cte",
    "rules_of_xml": ["MonofasicoVarejo", "BebidaFria"],
    "url_mongo": "mongodb://localhost:27017"
}